.body{
    background-color: rgb(230, 230, 230);
    width:100%;
    min-height:500px;
    text-align: center;
    padding-bottom: 10px;
    

}
.top-div{
    background-color: rgb(255, 255, 255);
    width: 55%;
    min-height: 50px;
    text-align: center;
    display: inline-block;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 0px;
    border-radius: 0 0 10px 10px;
    box-shadow: 2px 2px 2px #bebebe;
}
.balance{
    background-color: rgb(255, 255, 255);
    width: 55%;
    min-height: 50px;
    margin-top: 20px;
    padding-top: 1rem;
    padding-bottom: 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 2px #bebebe;
    display: inline-block;
   
}
h5{
    margin-top: 10px;
    font-size: 10px;
    padding: 0px;
}
h1{
    padding: 0px;
    margin: 0px;
}
button{
    border: none;
    padding :1rem;
    border-radius: 5px;
    cursor: pointer;
}
.button-div{
    margin-top: 5.5rem;
}
.bottom-button{
    margin-top: 0.5rem;
    
}
.top-buttons{
    margin-left: 130px;
}
.sell{
    width: 250px;
    color:white;
    background-color: rgb(28, 159, 225);

}

.claim{
    position:absolute;
    left: 450px;
    width: 120px;
    color:white;
    background-color: rgb(235, 202, 37);
}

.send{
    width: 120px;
    color:white;
    background-color: rgb(35, 203, 125);
}