.main{
    background-color: rgb(255, 255, 255);
    width: 55%;
    min-height: 50px;
    text-align: center;
    display: inline-block;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 0px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 2px #bebebe;
    margin-top: 100px;
}
.body{
    background-color: rgb(230, 230, 230);
    width:100%;
    min-height:500px;
    text-align: center;
    padding-bottom: 10px;
    
}
a{
    color: white;
    text-decoration: none;
}

button{
    background-color: rgb(28, 159, 225); 
}

